.row(style="margin-bottom: 6px")
    .col-md-2
    .col-md-10
        .btn-group.btn-group-justified
            .btn-group
                button(onclick="save();", type="button")#save-btn.btn.btn-sm.btn-primary.btn-blue-nb Сохранить
            .btn-group
                button(onclick="confirm_result();", type="button")#confirm-btn.btn.btn-sm.btn-primary.btn-blue-nb Подтвердить
            .btn-group
                button(onclick="save(true,confirm_result);", type="button")#confirm-andsave-btn.btn.btn-sm.btn-primary.btn-blue-nb Сохранить и подтвердить
h4(style="margin-top: 2px") #{title}
form(onsubmit="return false;")
    input(type="hidden", value=res_id)#issledovaniye_id
    #result-jade-form
        table.table.table-bordered.table-sm-pd
            thead
                th(style="width: 29%") Фракция
                th Значение
                th(style="width: 23%") Нормы М
                th(style="width: 23%") Нормы Ж
            each fraction in fractions
                if !fraction.hide
                    tr
                        td
                            label.labtitle= fraction.title
                        td
                            .input-group
                                input(type="text", data-pk=fraction.pk, style="border-top-right-radius: 0;border-bottom-right-radius: 0;").form-control.result-enter
                                span.input-group-btn
                                    a(title="Генерация результата", href="#", onclick="genresult(this);return false;", pk=fraction.pk, ftitle=fraction.title, dir=fraction.dir).btn.btn-default.btn-primary-nb.btn30
                                        i.fa.fa-circle
                        td.ref
                            table.table.table-bordered.table-responsive
                                each norm, index in fraction.references.m
                                    tr
                                        td= index
                                        td.col-md-5
                                            |    !{norm}
                        td.ref
                            table.table.table-bordered.table-responsive
                                each norm, index in fraction.references.f
                                    tr
                                        td= index
                                        td.col-md-5
                                            |    !{norm}
script.
    var k = -1;
    function genresult(th) {
        k = pk = $(th).attr("pk");
        $("#res-modal h4").text($(th).attr("ftitle"));
        $("#res-modal #res-modal-dir").text($("#dir_num a").text());
        $("#hiddenresmodal").hide();
        $("[name='result-v']:checked").prop("checked", false);
        $("[name=kpol]").val("");
        $("[name=kkor]").val("");
        $("#res-modal").modal();
    }

    function updateresmodal(th) {
        val = $(th).val();
        $("#hiddenresmodal").hide();
        if (val == "1") {
            $("#hiddenresmodal").show();
        }
    }
    var types_directory = {"0": "Отриц.", "1": "Пол.", "2": "Сомнит."};
    function saveresmodal() {
        checked = $("[name='result-v']:checked");
        result = types_directory[checked.val()];
        if (checked.val() == "1") {
            result += " (КП core {0}; КП NS {1})".f($("[name=kpol]").val(), $("[name=kkor]").val());
        }
        $("[data-pk=" + k + "]").val(result);
    }

.modal.fade#res-modal
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                    span(aria-hidden="true") &times;
                h4.modal-title
                .modal-body
                    span Направление:
                        span#res-modal-dir
                    hr
                    label
                        input(type="radio", name="result-v", onclick="updateresmodal(this);", value="0")
                        | Отрицательный&nbsp;&nbsp;
                    label
                        input(type="radio", name="result-v", onclick="updateresmodal(this);", value="1")
                        | Положительный&nbsp;&nbsp;
                    label
                        input(type="radio", name="result-v", onclick="updateresmodal(this);", value="2")
                        | Сомнительный&nbsp;&nbsp;
                    #hiddenresmodal
                        label
                            | КП core
                            input(type="text", name="kpol").form-control
                        br
                        label
                            | КП NS
                            input(type="text", name="kkor").form-control
                .modal-footer
                    button(type="button", data-dismiss="modal").btn.btn-default Отмена
                    button(type="button", onclick="saveresmodal();", data-dismiss="modal").btn.btn-default Сохранить
