.row(style="margin-bottom: 6px")
    .col-md-2
    .col-md-10
        .btn-group.btn-group-justified(role="group")
            a(onclick="save(); return false;", href="#")#save-btn.btn.btn-sm.btn-primary-nb Сохранить
            a(onclick="confirm_result(); return false;", href="#")#confirm-btn.btn.btn-sm.btn-primary-nb Подтвердить
            a(onclick="save(true,confirm_result); return false;", href="#")#confirm-andsave-btn.btn.btn-sm.btn-primary-nb Сохранить и подтвердить
h4(style="margin-top: 2px") Исследование - #{title}
form(onsubmit="return false;")
    input(type="hidden", value=res_id)#issledovaniye_id
    #result-jade-form
        table.table.table-bordered.table-sm-pd
            thead
                th(style="width: 16%") Фракция
                th(style="width: 40%") Значение
                th.col-md-3 Нормы М
                th.col-md-3 Нормы Ж
            each fraction in fractions
                if !fraction.hide
                    tr
                        td.col-md-3
                            label= fraction.title
                        td
                            input(data-pk=fraction.pk, style="border-top-right-radius: 0;border-bottom-right-radius: 0;", type='hidden').result-enter
                            .input-group
                                div(data-div-pk=fraction.pk, style="border-top-right-radius: 0;border-bottom-right-radius: 0;text-align:center").form-control
                                span.input-group-btn
                                    a(title="Генерация результата", href="#", onclick="genresult(this);return false;", pk=fraction.pk, ftitle=fraction.title, dir=fraction.dir).btn.btn-default.btn-primary-nb
                                        i.fa.fa-circle
                        td.col-md-1
                            table.table.table-bordered.table-responsive
                                each norm, index in fraction.references.m
                                    tr
                                        td= index
                                        td.col-md-5
                                        |    !{norm}
                        td.col-md-1
                            table.table.table-bordered.table-responsive
                                each norm, index in fraction.references.f
                                    tr
                                        td= index
                                        td.col-md-5
                                        |    !{norm}
script(src="/static/templates/2.js")
.modal.fade#res-modal
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                    span(aria-hidden="true") &times;
                h4.modal-title
                .modal-body
                    span Направление:
                        span#res-modal-dir
                    hr
                    div(style="text-align: center")
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="0")
                            | O<sub>&alpha;&beta;</sub> (I)&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="-2")
                            | A<sub>&beta;</sub> (II)&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="3")
                            | B<sub>&alpha;</sub> (III)&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="-3")
                            | AB<sub>0</sub> (IV)
                        #hiddenresmodal-1
                            label
                                input(type="radio", name="subgroup1", onclick="updateresmodal(this);", value="1", checked)
                                | A<sub>&beta;</sub> (II)&nbsp;&nbsp;&nbsp;&nbsp;
                            label
                                input(type="radio", name="subgroup1", onclick="updateresmodal(this);", value="2")
                                | A<sub>2&beta;</sub> (II)
                        #hiddenresmodal-2
                            label
                                input(type="radio", name="subgroup2", onclick="updateresmodal(this);", value="4", checked)
                                | AB<sub>0</sub> (IV)&nbsp;&nbsp;&nbsp;&nbsp;
                            label
                                input(type="radio", name="subgroup2", onclick="updateresmodal(this);", value="5")
                                | A<sub>2</sub>B<sub>0</sub> (IV)
                .modal-footer
                    button(type="button", data-dismiss="modal").btn.btn-default Отмена
                    button(type="button", onclick="saveresmodal();", data-dismiss="modal").btn.btn-default Сохранить
