.row(style="margin-bottom: 6px")
    .col-md-2
    .col-md-10
        .btn-group.btn-group-justified
            .btn-group
                button(onclick="save();", type="button")#save-btn.btn.btn-sm.btn-primary.btn-blue-nb Сохранить
            .btn-group
                button(onclick="confirm_result();", type="button")#confirm-btn.btn.btn-sm.btn-primary.btn-blue-nb Подтвердить
            .btn-group
                button(onclick="save(true,confirm_result);", type="button")#confirm-andsave-btn.btn.btn-sm.btn-primary.btn-blue-nb Сохранить и подтвердить
h4(style="margin-top: 2px") #{title}
form(onsubmit="return false;")
    input(type="hidden", value=res_id)#issledovaniye_id
    #result-jade-form
        table.table.table-bordered.table-sm-pd
            thead
                th(style="width: 29%") Фракция
                th Значение
                th(style="width: 23%") Нормы М
                th(style="width: 23%") Нормы Ж
            each fraction in fractions
                if !fraction.hide
                    tr
                        td
                            label.labtitle= fraction.title
                        td
                            input(data-pk=fraction.pk, style="border-top-right-radius: 0;border-bottom-right-radius: 0;", type='hidden').result-enter
                            .input-group
                                div(data-div-pk=fraction.pk, style="border-top-right-radius: 0;border-bottom-right-radius: 0;text-align:center").form-control
                                span.input-group-btn
                                    a(title="Генерация результата", href="#", onclick="genresult(this);return false;", pk=fraction.pk, ftitle=fraction.title, dir=fraction.dir).btn.btn-default.btn-primary-nb
                                        i.fa.fa-circle
                        td.ref
                            table
                                each norm, index in fraction.references.m
                                    tr
                                        td= index
                                        td.col-md-5
                                            |    !{norm}
                        td.ref
                            table
                                each norm, index in fraction.references.f
                                    tr
                                        td= index
                                        td.col-md-5
                                            |    !{norm}
script.
    var k = -1;
    var dgroup = -1;
    var dgroups = {0: "Oαβ (I)", 1: "A<sub>β</sub> (II)", 2: "A₂β (II)", 3: " Bα (III)", 4: "AB₀ (IV)", 5: "A₂B₀ (IV)"};
    function genresult(th) {
        k = pk = $(th).attr("pk");
        $("#res-modal h4").text($(th).attr("ftitle"));
        $("#res-modal #res-modal-dir").text($("#dir_num a").text());
        $("#hiddenresmodal-1, #hiddenresmodal-2").hide();
        $("#hiddenresmodal").hide();
        $("[name='groupb']:checked").prop("checked", false);
        $("[name='subgroup1']:checked").prop("checked", false);
        $("[name='subgroup2']:checked").prop("checked", false);
        $("#res-modal").modal();
    }

    function updateresmodal(th) {
        val = $(th).val();
        if ($(th).attr("name") == "groupb") {
            $("#hiddenresmodal-1, #hiddenresmodal-2").hide();
            $("[name='subgroup1']:checked").prop("checked", false);
            $("[name='subgroup2']:checked").prop("checked", false);
            if (val == "-2") {
                $("#hiddenresmodal-1").show();
                $("[name='subgroup1']").first().prop("checked", true);
                val = $("[name='subgroup1']").first().val();
            } else if (val == "-3") {
                $("#hiddenresmodal-2").show();
                $("[name='subgroup2']").first().prop("checked", true);
                val = $("[name='subgroup2']").first().val();
            }
        }
        dgroup = parseInt(val);
    }

    function saveresmodal() {
        if (dgroup >= 0) {
            $("[data-div-pk=" + k + "]").html(dgroups[dgroup]);
            $("[data-pk=" + k + "]").val(dgroups[dgroup]);
        }
    }
.modal.fade#res-modal
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                    span(aria-hidden="true") &times;
                h4.modal-title
                .modal-body
                    span Направление:
                        span#res-modal-dir
                    hr
                    div(style="text-align: center")
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="0")
                            | O<sub>&alpha;&beta;</sub> (I)&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="-2")
                            | A<sub>&beta;</sub> (II)&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="3")
                            | B<sub>&alpha;</sub> (III)&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            input(type="radio", name="groupb", onclick="updateresmodal(this);", value="-3")
                            | AB<sub>0</sub> (IV)
                        #hiddenresmodal-1
                            label
                                input(type="radio", name="subgroup1", onclick="updateresmodal(this);", value="1", checked)
                                | A<sub>&beta;</sub> (II)&nbsp;&nbsp;&nbsp;&nbsp;
                            label
                                input(type="radio", name="subgroup1", onclick="updateresmodal(this);", value="2")
                                | A<sub>2&beta;</sub> (II)
                        #hiddenresmodal-2
                            label
                                input(type="radio", name="subgroup2", onclick="updateresmodal(this);", value="4", checked)
                                | AB<sub>0</sub> (IV)&nbsp;&nbsp;&nbsp;&nbsp;
                            label
                                input(type="radio", name="subgroup2", onclick="updateresmodal(this);", value="5")
                                | A<sub>2</sub>B<sub>0</sub> (IV)
                .modal-footer
                    button(type="button", data-dismiss="modal").btn.btn-default Отмена
                    button(type="button", onclick="saveresmodal();", data-dismiss="modal").btn.btn-default Сохранить
